<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>net.spikesync.webapp.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/jsonpage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StartPingHeatMapServlet</servlet-name>
		<servlet-class>net.spikesync.webapp.StartPingHeatMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartPingHeatMapServlet</servlet-name>
		<url-pattern>/startpingheatmap</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PingHeatMapServlet</servlet-name>
		<servlet-class>net.spikesync.webapp.PingHeatMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PingHeatMapServlet</servlet-name>
		<url-pattern>/pingheatmap</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LuckyDayPage</servlet-name>
		<jsp-file>/luckyday.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LuckyDayPage</servlet-name>
		<url-pattern>/luckyday</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TimePage</servlet-name>
		<jsp-file>/timepage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimePage</servlet-name>
		<url-pattern>/timepage</url-pattern>
	</servlet-mapping>

	<!-- Spring ContextLoaderListener configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>


	<!-- Spring ContextLoaderListener configuration Note that Maven packages 
		beans.xml into the specified directory, but this may change depending on 
		different build instructions -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Explanation of ContexLoaderListener (ChatGPT): The ContextLoaderListener 
		is a standard class provided by the Spring framework, and you typically don't 
		need to define it yourself. Instead, you configure it in your web.xml. I 
		did this here -->


	<listener>
		<listener-class>net.spikesync.webapp.PingHeatAppThreadContextListener</listener-class>
	</listener>

</web-app>

