<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>net.spikesync.webapp.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyResource</servlet-name>
		<servlet-class>net.spikesync.webapp.MyResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyResource</servlet-name>
		<url-pattern>/timepage.jsp</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>net.spikesync.webapp.PingHeatAppThreadContextListener</listener-class>
	</listener>

</web-app>
